.checkout-alignments {
  margin: 100px 15px 5px;
  padding: 0 10px;

  @media (min-width: 769px) {
    margin-top: 170px;
    margin-right: 75px;
    padding: 0;
  }

  .SectionOne {
    .main-container {
      padding: 0 10px;

      @media (min-width: 769px) {
        padding: 0;
      }

      .heading {
        text-align: left;
        font-family: Lato;
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #333333;
        padding-bottom: 20px;

        @media (min-width: 769px) {
          font-size: 32px;
          line-height: 38.4px;
          padding-bottom: 10px;
        }
      }

      .billing_info {
        font-family: Inter;
        font-size: 16px;
        color: #010000;
        font-weight: 500;
        line-height: 19.36px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 15px;

        @media (min-width: 769px) {
          font-size: 16px;
          line-height: 19.36px;
        }
      }

      .text-field {
        width: 100%;
        height: 55px;
        background: #ffff;
        gap: 0px;
        border-radius: 6px;
        border: 1px;
        border: 1px solid var(--Neutrals-Neutrals500, rgba(137, 132, 131, 1));

        @media (min-width: 769px) {
          height: 55px;
          margin-bottom: 15px;
        }
      }

      .text-area {
        width: 100%;
        height: 120px;
        background-color: #ffffff;
        gap: 0px;
        border-radius: 6px;
        border: 1px;
        margin-bottom: 10px;
        border: 1px solid var(--Neutrals-Neutrals500, rgba(137, 132, 131, 1));
        height: 150px;

        @media (min-width: 769px) {
          height: 150px;
          margin-bottom: 15px;
        }
      }

      .divider {
        width: 100%;
        // margin: 15px 0;

        @media (min-width: 769px) {
          // margin: 20px 0;
        }
      }

      .atext {
        padding: 0 2px 20px;
        height: 19px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: #333333;

        @media (min-width: 769px) {
          font-size: 16px;
          line-height: 19.36px;
          padding-bottom: 30px;
          max-width: 344px;
        }
      }
      .billing-section {
        margin-right: 50px;

        @media (max-width: 768px) {
          width: 100%;
        }

        @media (max-width: 600px) {
          width: 100%;
        }

        @media (max-width: 1024px) {
          width: 100%;
        }
      }

      h2,
      h3 {
        margin: 0 0 10px;
      }

      p {
        margin: 5px 0;
      }
      .hw {
        width: 100%;
        height: 100%;

        @media (min-width: 769px) {
          width: 400px;
        }
        @media (max-width: 1024px) {
          width: 100%;
        }
      }

      .text-shape {
        width: 100%;
        padding-bottom: 10px;
        gap: 0px;
        border-radius: 0px 30px 0px 0px;
        background-color: #27abe2;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.36px;
        text-align: left;
        color: #ffffff;
        color: #27abe2;
        margin-bottom: 15px;

        @media (min-width: 769px) {
          width: 400px;
        }
        @media (max-width: 1024px) {
          width: 100%;
        }
      }
      .text-shape1 {
        width: 100%;
        padding-bottom: 10px;
        gap: 0px;
        border-radius: 0px 30px 0px 0px;
        background-color: #27abe2;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.36px;
        text-align: left;
        color: #ffffff;
        color: #27abe2;
        margin-top: 60px;

        @media (min-width: 769px) {
          width: 400px;
        }
        @media (max-width: 1024px) {
          width: 100%;
        }
      }

      .summary-heading {
        opacity: 0px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.36px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--Base-white, rgb(250, 248, 248));
        margin-top: 10px;
      }

      .text-left {
        font-family: Inter;
        font-size: 16px;
        line-height: 19.36px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
      .text-right {
        font-family: Inter;
        font-size: 16px;
        line-height: 19.36px;
        text-align: right;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .text-left-bold {
        margin-top: 10px;
        font-family: Inter;
        font-size: 16px;
        font-weight: bold;
        line-height: 19.36px;
        text-align: left;
        background-color: #f6f6f6;
      }
      .text-right-bold {
        margin-top: 10px;
        font-family: Inter;
        font-size: 16px;
        font-weight: bold;
        line-height: 19.36px;
        text-align: right;
        background-color: #f6f6f6;
      }
      .side_card_items {
        padding: 10px;
        gap: 0px;
        border: 5px;
        background-color: #ffffff;
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.36px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--Neutrals-Neutrals600, rgba(114, 108, 108, 1));
      }

      .side_card_items_total {
        padding: 10px;
        gap: 0px;
        border: 5px;
        background: var(--Neutrals-Neutral-50, rgba(246, 246, 246, 1));
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.36px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .payment-option-COD {
        width: 100%;
        height: 55px;
        border-radius: 10px;
        border: 1px;
        cursor: pointer;
        opacity: 0px;
        background: rgb(252, 252, 252);
        border: 1px solid var(--Neutrals-Neutrals100, rgba(236, 236, 236, 1));
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;
        margin-bottom: 10px;
        margin-left: 0px;

        @media (min-width: 769px) {
          width: 400px;
        }
        @media (max-width: 1024px) {
          width: 100%;
        }
      }
      .payment-text-1 {
        margin-left: 20px;
        flex-grow: 1;
      }
      .payment-text {
        margin-left: 20px;
        flex-grow: 1;
      }
      .payment-option-image1 {
        padding-left: 2px;
        padding-bottom: 40px;
        width: 30px;
        height: 21.33px;
        left: 4px;
        gap: 0px;
        opacity: 0px;
      }
      .payment-option-image2 {
        padding-left: 7px;
        padding-bottom: 30px;
        width: 30px;
        height: 21.33px;
        top: 8px;
        left: 4px;
        gap: 0px;
        opacity: 0px;
      }
      .arrow {
        padding-top: 5px;
      }

      .place-order-btn {
        display: inline-block;
        height: 50px;
        background-color: #f7941e;
        color: white;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.36px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        text-transform: none;
      }
      .place-btn {
        width: 100%;
        margin-top: 35px;
        margin-left: 3px;

        @media (min-width: 769px) {
          width: 400px;
        }
        @media (max-width: 1024px) {
          width: 100%;
        }
      }

      .left-div {
        word-wrap: break-word;

        @media (max-width: 768px) {
          margin-bottom: 20px;

          padding: 10px;
        }
        @media (max-width: 600px) {
          margin-bottom: 20px;
        }
        @media (max-width: 1024px) {
          margin-bottom: 20px;
        }
      }
      .left-div * {
      }
    }
  }
}
